<h2><a href="http://<%= @app.key %>.appdrop.com/"><%=h @app.name %></a> invites you login using your AppDrop account.</h2>

<p>To login to <%= h @app.name %>, click "Authorize" and you will be redirected to the application.</p>

<form action="/authorize" method="post">
  <% if params[:continue] %>
  <%= hidden_field_tag :continue, params[:continue] %>
  <% end %>
  <%= submit_tag "Authorize" %>  
</form>
