<h2><%= @app.name %></h2>
<dl>
  <dt>Visit at:</dt>
  <dd>
    <% if @app.ready? %>
    <a href="http://<%= @app.key %>.appdrop.com">http://<%= @app.key %>.appdrop.com</a>
    <% else %>
    Wating for code upload.
    <% end %>
  </dd>
  <dt>Written by:</dt>
  <dd><%= @app.user %></dd>
</dl>
<% if current_user && @app.user == current_user %>
  <%= link_to "Upload a new version of the code", manage_app_url(@app) %>
<% end %>