<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title><%= "#{@title} | " if @title %>AppDrop</title>
    <%= stylesheet_link_tag 'app' %>
  </head>
  <body>
    <div id="container">
    <div id="header">
      <h1><a href="/">AppDrop</a><%= " | #{@title}" if @title %></h1>
      <% if false && flash[:notice] %><h3 id="flash"><%= flash[:notice] %></h3><% end %>
      <% if current_user %>
        <p>Hello <%= current_user %>. <%= link_to "You may click here to logout" %></p>
      <% end %>
    </div>
    <%= yield %>
    </div>
  </body>
</html>