<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title><%= "#{@title} | " if @title %>AppDrop</title>
    <%= stylesheet_link_tag 'app' %>
  </head>
  <body>
    <div id="container">
    <div id="header">
      <h1><a href="/">AppDrop</a><%= " | #{@title}" if @title %></h1>
      <% if false && flash[:notice] %><h3 id="flash"><%= flash[:notice] %></h3><% end %>
<div id="loginout">      <% if current_user %>
        <form action="/login" method="post">
          Hello <%= current_user %>.
          <%= hidden_field_tag :_method, :delete %>
          <%= submit_tag "Click to logout", :class => "small" %>
        </form>
      <% else %>
        <%= link_to( "Login or Signup here", "/login") unless controller.controller_name == "login" %>
      <% end %>
</div>    </div>
    <%= yield %>
    </div>
  </body>
</html>

